INSERT INTO sandbox (allow_open_access, created_timestamp, description, name, sandbox_id, api_endpoint_index, created_by_id, fhir_server_end_point, visibility)
VALUES (
  '',
  now(),
  'SMART DSTU2 Sandbox',
  'SMART DSTU2 Sandbox',
  'smartdstu2',
  '1',
  (SELECT id FROM user WHERE sbm_user_id='admin'),
  null,
  0
);

INSERT INTO user_sandbox (user_id, sandbox_id)
VALUES (
  (SELECT id FROM user WHERE sbm_user_id='admin'),
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2')
);

INSERT INTO sandbox_user_roles (sandbox, user_roles)
VALUES (
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2'),
  1
);

INSERT INTO sandbox_user_roles (sandbox, user_roles)
VALUES (
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2'),
  2
);

INSERT INTO sandbox_user_roles (sandbox, user_roles)
VALUES (
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2'),
  3
);
