INSERT INTO auth_client (auth_database_id, client_id, client_name, logo_uri)
VALUES (
  {{bp_centiles_project_info.hosting.client_id}},
  'bp_centiles',
  'BP Centiles',
  'https://content.hspconsortium.org/images/bp-centiles/logo/bpc2.png'
);

INSERT INTO auth_client (auth_database_id, client_id, client_name, logo_uri)
VALUES (
  {{cardiac_risk_project_info.hosting.client_id}},
  'cardiac_risk',
  'Cardiac Risk',
  'https://content.hspconsortium.org/images/cardiac-risk/logo/cardiac-risk.png'
);

INSERT INTO auth_client (auth_database_id, client_id, client_name, logo_uri)
VALUES (
  {{growth_chart_project_info.hosting.client_id}},
  'growth_chart',
  'Growth Chart',
  'https://content.hspconsortium.org/images/growth-chart/logo/growth-chart.png'
);

INSERT INTO app (created_timestamp, launch_uri, logo_uri, visibility, auth_client_id, created_by_id, logo_id, sandbox_id)
VALUES (
  now(),
  '{{apps_server_external_url}}/apps/bp-centiles/launch.html',
  'https://content.hspconsortium.org/images/bp-centiles/logo/bpc2.png',
  0,
  (SELECT id FROM auth_client WHERE client_id='bp_centiles'),
  (SELECT id FROM user WHERE sbm_user_id='admin'),
  NULL,
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2')
);

INSERT INTO app (created_timestamp, launch_uri, logo_uri, visibility, auth_client_id, created_by_id, logo_id, sandbox_id)
VALUES (
  now(),
  '{{apps_server_external_url}}/apps/cardiac-risk/launch.html',
  'https://content.hspconsortium.org/images/cardiac-risk/logo/cardiac-risk.png',
  0,
  (SELECT id FROM auth_client WHERE client_id='cardiac_risk'),
  (SELECT id FROM user WHERE sbm_user_id='admin'),
  NULL,
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2')
);

INSERT INTO app (created_timestamp, launch_uri, logo_uri, visibility, auth_client_id, created_by_id, logo_id, sandbox_id)
VALUES (
  now(),
  '{{apps_server_external_url}}/apps/growth-chart/launch.html',
  'https://content.hspconsortium.org/images/growth-chart/logo/growth-chart.png',
  0,
  (SELECT id FROM auth_client WHERE client_id='growth_chart'),
  (SELECT id FROM user WHERE sbm_user_id='admin'),
  NULL,
  (SELECT id FROM sandbox WHERE sandbox_id='smartdstu2')
);
