[Unit]
Description=API-DSTU2-Service

[Service]
User={{username}}
TimeoutStartSec=infinity
WorkingDirectory={{install_dir}}/hspc/api-dstu2/{{api_dstu2_repo_api_webapp_project}}/target
{% if use_secure_http and not use_custom_ssl_certificates %}
ExecStart=/usr/bin/java \
 -Xms{{api_dstu2_server_initial_memory}} \
 -Xmx{{api_dstu2_server_max_memory}} \
 -Djetty.port="{{api_dstu2_server_internal_port}}" \
 -Djetty.host="{{api_dstu2_server_internal_host}}" \
 -Dhspc.platform.authorization.urlContext={{auth_server_url}} \
 -Dhspc.platform.api.security.mode={{api_dstu2_server_security_mode}} \
 -Dhspc.platform.api.fhir.openContextPath={{api_dstu2_server_open_access_endpoint}} \
 -Dhspc.platform.api.sandbox.name={{api_dstu2_server_smart_sandbox}} \
 -Dhspc.platform.api.sandbox.useHspcStarterData=false \
 -Dhspc.platform.api.fhir.db.url=jdbc:mysql://{{mysql_endpoint}}/{{api_dstu2_database}} \
 -Dhspc.platform.api.fhir.db.schema={{api_dstu2_database}} \
 -Dhspc.platform.api.fhir.defaultTenantId={{api_dstu2_server_smart_sandbox}} \
 -Dhspc.platform.api.fhir.db.username={{mysql_user}} \
 -Dhspc.platform.api.fhir.db.password={{mysql_pass}} \
 -Dspring.jpa.hibernate.ddl-auto=none \
 -Dhspc.platform.messaging.subscriptionSupport.enabled=false \
 -Dhibernate.search.default.indexBase={{install_dir}}/hspc/api-dstu2/{{api_dstu2_repo_api_webapp_project}} \
 -Djavax.net.ssl.trustStore="{{install_dir}}/keystore" \
 -Djavax.net.ssl.trustStorePassword="{{keystore_password}}" \
 -jar {{install_dir}}/jetty-runner.jar \
 --config {{install_dir}}/jetty.xml \
 --path {{api_dstu2_server_context}} \
 hspc-reference-api.war
{% else %}
ExecStart=/usr/bin/java \
 -Xms{{api_dstu2_server_initial_memory}} \
 -Xmx{{api_dstu2_server_max_memory}} \
 -Djetty.port="{{api_dstu2_server_internal_port}}" \
 -Djetty.host="{{api_dstu2_server_internal_host}}" \
 -Dhspc.platform.authorization.urlContext={{auth_server_url}} \
 -Dhspc.platform.api.security.mode={{api_dstu2_server_security_mode}} \
 -Dhspc.platform.api.fhir.openContextPath={{api_dstu2_server_open_access_endpoint}} \
 -Dhspc.platform.api.sandbox.name={{api_dstu2_server_smart_sandbox}} \
 -Dhspc.platform.api.sandbox.useHspcStarterData=false \
 -Dhspc.platform.api.fhir.db.url=jdbc:mysql://{{mysql_endpoint}}/{{api_dstu2_database}} \
 -Dhspc.platform.api.fhir.db.schema={{api_dstu2_database}} \
 -Dhspc.platform.api.fhir.defaultTenantId={{api_dstu2_server_smart_sandbox}} \
 -Dhspc.platform.api.fhir.db.username={{mysql_user}} \
 -Dhspc.platform.api.fhir.db.password={{mysql_pass}} \
 -Dspring.jpa.hibernate.ddl-auto=none \
 -Dhspc.platform.messaging.subscriptionSupport.enabled=false \
 -Dhibernate.search.default.indexBase={{install_dir}}/hspc/api-dstu2/{{api_dstu2_repo_api_webapp_project}} \
 -jar {{install_dir}}/jetty-runner.jar \
 --config {{install_dir}}/jetty.xml \
 --path {{api_dstu2_server_context}} \
 hspc-reference-api.war
{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
