ldap.url={{ldap_server_uri}}
ldap.server={{ldap_server_uri}}/{{ldap_server_base}}
ldap.base={{ldap_server_base}}
ldap.userDn=cn=admin,{{ldap_server_base}}
ldap.password={{ldap_server_admin_password}}
ldap.pooled=false
