START TRANSACTION;

INSERT INTO client_details (client_id, client_secret, client_name, dynamically_registered, refresh_token_validity_seconds, access_token_validity_seconds, id_token_validity_seconds, allow_introspection) VALUES
    ('client', 'K31eT411i936qir', 'Test Client', false, null, 3600, 600, true);

--TODO: Curl script for these...
INSERT INTO client_scope (owner_id, scope) VALUES
    ('client', 'openid'),
    ('client', 'profile'),
    ('client', 'smart/orchestrate_launch'),
    ('client', 'launch'),
    ('client', 'launch/patient'),
    ('client', 'launch/encounter'),
    ('client', 'launch/other'),
    ('client', 'user/Patient.read'),
    ('client', 'user/*.*'),
    ('client', 'user/*.read'),
    ('client', 'patient/*.*'),
    ('client', 'patient/*.read'),
    ('client', 'offline_access');

INSERT INTO client_redirect_uri (owner_id, redirect_uri) VALUES
    ('client', 'http://localhost/'),
    ('client', 'http://localhost:8080/');

INSERT INTO client_grant_type (owner_id, grant_type) VALUES
    ('client', 'authorization_code'),
    ('client', 'urn:ietf:params:oauth:grant_type:redelegate'),
    ('client', 'implicit'),
    ('client', 'refresh_token');

COMMIT;
