[Unit]
Description=HSPC Messaging Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/patient_picker

ExecStart={{java_home}}/bin/java \
 -Xms{{patient_picker_server_initial_memory}} \
 -Xmx{{patient_picker_server_max_memory}} \
 -jar {{patient_picker_server_artifact_artifact_id}}-{{patient_picker_server_artifact_version}}.{{patient_picker_server_artifact_packaging}}
Restart=always

[Install]
WantedBy=multi-user.target
