[Unit]
Description=HSPC patient_picker Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/patient_picker/patient_picker

ExecStart=/usr/bin/http-server src -p {{patient_picker_server_internal_port}}
Restart=always

[Install]
WantedBy=multi-user.target
