[
  {
    "isDefault": true,
    "authClient": {
      "clientName": "My Web App",
      "clientId": "my_web_app",
      "redirectUri": "http://localhost:8000/fhir-app/"
    },
    "launchUri": "http://localhost:8000/fhir-app/launch.html",
    "logoUri": "https://content.hspconsortium.org/images/my-web-app/logo/my.png"
  }
]