[Unit]
Description=HSPC Sandman Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/sandman

ExecStart={{java_home}}/bin/java \
 -Xms{{sandman_server_initial_memory}} \
 -Xmx{{sandman_server_max_memory}} \
 -Dspring.datasource.username={{mysql_username}} \
 -Dspring.datasource.password={{mysql_password}} \
 -Dspring.datasource.url=jdbc:mysql://{{mysql_host}}:{{mysql_port}}/{{sandman_api_server_database}}?autoReconnect=true \
 -Dhspc.platform.api.version1.baseUrl={{sandman_server_api_v1_url}} \
 -Dhspc.platform.api.version2.baseUrl={{sandman_server_api_v2_url}} \
 -Dhspc.platform.api.version3.baseUrl={{sandman_server_api_v3_url}} \
 -Dhspc.platform.api.version4.baseUrl={{sandman_server_api_v4_url}} \
 -Dhspc.platform.messaging.url={{messaging_server_external_url}} \
 -Dhspc.platform.defaultSandboxCreatorRoles={{sandman_server_default_sandbox_creator_roles}} \
 -Dhspc.platform.messaging.sendEmail={{sandman_server_send_email}} \
 -Dhspc.platform.defaultSystemRoles={{sandman_server_default_system_roles}} \
 -Dhspc.platform.defaultPrivateSandboxRoles={{sandman_server_default_private_sandbox_roles}} \
 -Dhspc.platform.defaultSandboxVisibility={{sandman_server_default_sandbox_visibility}} \
 -Dhspc.platform.defaultPublicSandboxRoles={{sandman_server_default_public_sandbox_roles}} \
 -Dhspc.platform.authorization.adminAccess.clientId={{sandbox_server_admin_access_client_id}} \
 -Dhspc.platform.authorization.adminAccess.clientSecret={{sandbox_server_admin_access_client_secret}} \
 -Dhspc.platform.authorization.url={{auth_server_external_url}} \
 -Dhspc.platform.jwt.key={{hspc_platform_jwt_key}} \
 -DenvInfo.active=true \
 -DhostOrg=smart \
 -DuserManagementUrl={{pwm_server_external_url}} \
 -DsbmUrlHasContextPath=false \
 -DdefaultServiceUrl={{api_server_default_sandbox_url}} \
 -DoauthLogoutUrl={{auth_server_external_url}}/logout \
 -DoauthUserInfoUrl={{auth_server_external_url}}/userinfo \
 -DbaseServiceUrl_4={{sandman_server_api_v4_url}}/ \
 -DbaseServiceUrl_3={{sandman_server_api_v3_url}}/ \
 -DbaseServiceUrl_2={{sandman_server_api_v2_url}}/ \
 -DbaseServiceUrl_1={{sandman_server_api_v1_url}}/ \
 -DhspcAccountCookieName={{auth_server_hspc_account_cookie_name}} \
 -DpersonaCookieName={{auth_server_persona_cookie_name}} \
 -DpersonaCookieDomain={{auth_server_persona_cookie_domain}} \
 -DhspcEnv={{sandman_server_env}} \
 -jar {{sandman_server_artifact_artifact_id}}-{{sandman_server_artifact_version}}.{{sandman_server_artifact_packaging}}
Restart=always

[Install]
WantedBy=multi-user.target
