vagrant/.*
.DS_Store
.idea/
.vagrant/
*.log
*.retry

# This file should not be checked in, instead custom_settings_example.yml should be checked in
custom_settings.yml

provisioning/inventory_test_group_vars.yml
