#!/bin/bash

RESTORE_BASELINE_ERROR=${ERROR:-1}
RESTORE_BASELINE_CONTINUE_ON_ERROR=${CONTINUE_ON_ERROR:-false}
RESTORE_BASELINE_WORKING_FOLDER="${JOBS_FOLDER:-{{hosting_user_jobs_home}}}"
RESTORE_BASELINE_OUTPUT_FOLDER="${OUTPUT_FOLDER:-.}"

function RESTORE_BASELINE_handleLastError {
  echo $1
#  if [ ! $RESTORE_BASELINE_CONTINUE_ON_ERROR ]
#  then
    exit $RESTORE_BASELINE_ERROR
#  fi
}

echo "*********************************************"
echo "Running restore-dstu2-baseline-snapshot.sh..."
echo "*********************************************"

# make sure the output folder exists
mkdir -p $RESTORE_BASELINE_OUTPUT_FOLDER

# restore the baseline
cd $RESTORE_BASELINE_OUTPUT_FOLDER
echo "Exporting schema {{api_dstu2_server_database}}${{api_baseline_snapshot}} to {{api_dstu2_server_database}}${{api_baseline_snapshot}}.sql"
mysqldump -u fhir -p{{mysql_password}} '{{api_dstu2_server_database}}${{api_baseline_snapshot}}' --hex-blob > '{{api_dstu2_server_database}}${{api_baseline_snapshot}}.sql'

# handle errors
if [ $? -ne 0 ]
then
    RESTORE_BASELINE_handleLastError "Failed to export {{api_dstu2_server_database}}${{api_baseline_snapshot}}"
fi

echo "Importing {{api_dstu2_server_database}}${{api_baseline_snapshot}}.sql to schema {{api_dstu2_server_database}}"
mysql -u fhir -p{{mysql_password}} {{api_dstu2_server_database}} < '{{api_dstu2_server_database}}${{api_baseline_snapshot}}.sql'

# handle errors
if [ $? -ne 0 ]
then
    RESTORE_BASELINE_handleLastError "Failed to import {{api_dstu2_server_database}}${{api_baseline_snapshot}}.sql"
fi

echo "Restored snapshot containing resources:"
mysql -u fhir -p{{mysql_password}} -e "select count(*) from hspc_4_smartdstu2.hfj_resource"

echo "*********************************************"
echo "Finished restore-dstu2-baseline-snapshot.sh  "
echo "*********************************************"
