INSERT IGNORE INTO auth_client (auth_database_id, client_id, client_name, logo_uri)
VALUES ({{bp_centiles_project_info.hosting.client_id}}, 'bp_centiles', 'BP Centiles', 'https://content.hspconsortium.org/images/bp-centiles/logo/bpc2.png');

INSERT IGNORE INTO auth_client (auth_database_id, client_id, client_name, logo_uri)
VALUES ({{cardiac_risk_project_info.hosting.client_id}}, 'cardiac_risk', 'Cardiac Risk', 'https://content.hspconsortium.org/images/cardiac-risk/logo/cardiac-risk.png');

INSERT IGNORE INTO auth_client (auth_database_id, client_id, client_name, logo_uri)
VALUES ({{growth_chart_project_info.hosting.client_id}}, 'growth_chart', 'Growth Chart', 'https://content.hspconsortium.org/images/growth-chart/logo/growth-chart.png');

