[Unit]
Description=API Service

[Service]
User={{username}}
TimeoutStartSec=infinity
Environment=AUTH_SERVER_URL={{auth_server_base}}
Environment=SECURITY_MODE={{fhir_server_security_mode}}
Environment=MYSQL_DB={{api_server_database}}
Environment=MYSQL_USER={{mysql_user}}
Environment=MYSQL_PASS={{mysql_pass}}
WorkingDirectory={{install_dir}}/hspc/reference-api-webapp/target
ExecStart=/usr/bin/java -Djetty.port="9002" -Djetty.host="localhost" -jar {{install_dir}}/jetty-runner.jar --config {{install_dir}}/jetty.xml hspc-reference-api.war
Restart=always

[Install]
WantedBy=multi-user.target
