{
  "clientId": "{{item.client_id}}",
  "clientName": "{{item.client_name}}",
  "logoUri": "{{item.logo_uri}}",
{% if (item.launch_uri|default("null"))[:4] == "http" %}
  "initiateLoginUri":"{{item.launch_uri|default("null")}}",
{% else %}
  "initiateLoginUri":"{{app_server_base}}/{{item.launch_uri|default("null")}}",
{% endif %}
{% if item.redirect_uri[:4] == "http" or item.redirect_uri[:11] == "smartapp://" %}
  "redirectUris": ["{{item.redirect_uri}}"],
{% else %}
  "redirectUris": [
     "{{app_server_base}}/{{item.redirect_uri}}"
  ],
{% endif %}
  "scope": [
    "launch",
    "user/*.*",
    "patient/*.read",
    "smart/orchestrate_launch",
    "openid",
    "address",
    "email",
    "profile"
{% if item.redirect_uri[:11] == "smartapp://" or item.client_id == "my_web_app" %}
    ,"launch/patient"
{% endif %}
  ],
  "clientDescription": null,
  "tokenEndpointAuthMethod": "NONE",
  "clientSecret": "unused-secret-for-public-app",
  "grantTypes": [
    "authorization_code",
    "implicit"
   ],
  "responeType": ["token", "code"],
  "accessTokenValiditySeconds": 3600
} 
