server {
{% if app_server_host %}
    server_name {{app_server_host}};
{% endif %}

    listen {{app_server_port}};

    location / {
       root {{install_dir}}/apps/static;
       expires 1h;
       add_header Cache-Control "public";
    }

{% if app_server_secure_http %}
    ssl on;
    ssl_certificate /etc/nginx/ssl/apps.crt;
    ssl_certificate_key /etc/nginx/ssl/apps.key;
{% endif %}
}

{% if app_server_port != 80 and http_redirect %}
server {
    server_name {{app_server_host}};
    rewrite ^       {{app_server_base}}$request_uri? permanent;
    listen 80;
}
{% endif %}
