[Unit]
Description=Sandbox Mgr3 Service

[Service]
User={{username}}
TimeoutStartSec=infinity
WorkingDirectory={{install_dir}}/hspc/sandbox-manager/target
{% if use_secure_http and not use_custom_ssl_certificates %}
ExecStart=/usr/bin/java \
  -Xms{{sandbox_manager_server_initial_memory}} \
  -Xmx{{sandbox_manager_server_max_memory}} \
  -Dserver.port={{sandbox_manager_server_internal_port}} \
  -Dserver.host={{sandbox_manager_server_internal_host}} \
  -Dspring.datasource.url=jdbc:mysql://{{mysql_endpoint}}/{{sandbox_manager_database}} \
  -Dspring.datasource.username={{mysql_user}} \
  -Dspring.datasource.password={{mysql_pass}} \
  -Dspring.jpa.hibernate.ddl-auto=none \
  -Dhspc.platform.authorization.baseUrl={{auth_server_url}} \
  -Dhspc.platform.api.version1.baseUrl={{api_dstu2_server_context_url}} \
  -Dhspc.platform.api.version2.baseUrl={{api_dstu2_server_context_url}} \
  -Dhspc.platform.api.version3.baseUrl={{api_dstu2_server_context_url}} \
  -Dhspc.platform.api.oauth2.clientId={{api_server_oauth2_clientId}} \
  -Dhspc.platform.api.oauth2.clientSecret={{api_server_oauth2_clientSecret}} \
  -Dhspc.platform.api.oauthUser={{apacheds_server_sandbox_admin}} \
  -Dhspc.platform.api.oauthUserPassword={{apacheds_server_sandbox_admin_password}} \
  -Dhspc.platform.messaging.sendEmail=false \
  -Dhspc.platform.messaging.baseUrl={{messaging_server_url}} \
  -DenvInfo.active=true \
  -DdefaultServiceUrl={{api_dstu2_server_smart_sandbox_fhir_root_url}} \
  -DbaseServiceUrl_1={{api_dstu2_server_context_url}} \
  -DbaseServiceUrl_2={{api_dstu2_server_context_url}} \
  -DbaseServiceUrl_3={{api_dstu2_server_context_url}} \
  -DbasePersonaServiceUrl_1={{persona_api_dstu2_server_context_url}} \
  -DbasePersonaServiceUrl_2={{persona_api_dstu2_server_context_url}} \
  -DbasePersonaServiceUrl_3={{persona_api_dstu2_server_context_url}} \
  -DoauthLogoutUrl={{auth_server_url}}logout \
  -DoauthPersonaAuthenticationUrl={{persona_auth_server_url}}static/auth/index.html \
  -DsbmUrlHasContextPath=false \
  -DuserManagementUrl={{pwm_server_url}} \
  -DhostOrg=smart \
  -Dhspc.platform.defaultSystemRoles={{sandbox_manager_server_defaultSystemRoles}} \
  -Dhspc.platform.defaultSandboxVisibility={{sandbox_manager_server_defaultSandboxVisibility}} \
  -Djavax.net.ssl.trustStore={{install_dir}}/keystore \
  -Djavax.net.ssl.trustStorePassword={{keystore_password}} \
  -jar hspc-sandbox-manager.war
{% else %}
ExecStart=/usr/bin/java \
  -Xms{{sandbox_manager_server_initial_memory}} \
  -Xmx{{sandbox_manager_server_max_memory}} \
  -Dserver.port={{sandbox_manager_server_internal_port}} \
  -Dserver.host={{sandbox_manager_server_internal_host}} \
  -Dspring.datasource.url=jdbc:mysql://{{mysql_endpoint}}/{{sandbox_manager_database}} \
  -Dspring.datasource.username={{mysql_user}} \
  -Dspring.datasource.password={{mysql_pass}} \
  -Dspring.jpa.hibernate.ddl-auto=none \
  -Dhspc.platform.authorization.baseUrl={{auth_server_url}} \
  -Dhspc.platform.api.version1.baseUrl={{api_dstu2_server_context_url}} \
  -Dhspc.platform.api.version2.baseUrl={{api_dstu2_server_context_url}} \
  -Dhspc.platform.api.version3.baseUrl={{api_dstu2_server_context_url}} \
  -Dhspc.platform.api.oauth2.clientId={{api_server_oauth2_clientId}} \
  -Dhspc.platform.api.oauth2.clientSecret={{api_server_oauth2_clientSecret}} \
  -Dhspc.platform.api.oauthUser={{apacheds_server_sandbox_admin}} \
  -Dhspc.platform.api.oauthUserPassword={{apacheds_server_sandbox_admin_password}} \
  -Dhspc.platform.messaging.sendEmail=false \
  -Dhspc.platform.messaging.baseUrl={{messaging_server_url}} \
  -DenvInfo.active=true \
  -DdefaultServiceUrl={{api_dstu2_server_smart_sandbox_fhir_root_url}} \
  -DbaseServiceUrl_1={{api_dstu2_server_context_url}} \
  -DbaseServiceUrl_2={{api_dstu2_server_context_url}} \
  -DbaseServiceUrl_3={{api_dstu2_server_context_url}} \
  -DbasePersonaServiceUrl_1={{persona_api_dstu2_server_context_url}} \
  -DbasePersonaServiceUrl_2={{persona_api_dstu2_server_context_url}} \
  -DbasePersonaServiceUrl_3={{persona_api_dstu2_server_context_url}} \
  -DoauthLogoutUrl={{auth_server_url}}logout \
  -DoauthPersonaAuthenticationUrl={{persona_auth_server_url}}static/auth/index.html \
  -DsbmUrlHasContextPath=false \
  -DuserManagementUrl={{pwm_server_url}} \
  -DhostOrg=smart \
  -Dhspc.platform.defaultSystemRoles={{sandbox_manager_server_defaultSystemRoles}} \
  -Dhspc.platform.defaultSandboxVisibility={{sandbox_manager_server_defaultSandboxVisibility}} \
  -jar hspc-sandbox-manager.war
{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
