[
    {
      "client_name": "Cardiac Risk",
      "client_id": "cardiac_risk",
      "launch_uri": "apps/cardiac-risk/launch.html",
      "redirect_uri": "apps/cardiac-risk/",
      "logo_uri": "{{app_server_base}}/images/apps/cardio.png"
    }, {
      "client_name": "Growth Chart",
      "client_id": "growth_chart",
      "launch_uri": "apps/growth-chart/launch.html",
      "redirect_uri": "apps/growth-chart/",
      "logo_uri": "{{app_server_base}}/images/apps/pgc.png"
    }, {
      "client_name": "BP Centiles",
      "client_id": "bp_centiles",
      "launch_uri": "apps/bp-centiles/launch.html",
      "redirect_uri": "apps/bp-centiles/",
      "logo_uri": "{{app_server_base}}/images/apps/bpc.png"
    }, {
      "client_name": "FHIR Demo App",
      "client_id": "fhir_demo",
      "launch_uri": "apps/fhir-demo/app/launch.html",
      "redirect_uri": "apps/fhir-demo/app/",
      "logo_uri": "{{app_server_base}}/images/apps/demo.png"
    }, {
      "client_name": "My Web App",
      "client_id": "my_web_app",
      "launch_uri": "http://localhost:8000/fhir-app/launch.html",
      "redirect_uri": "http://localhost:8000/fhir-app/",
      "logo_uri": "{{app_server_base}}/images/apps/my.png"
    }, {
      "client_name": "My Mobile App",
      "client_id": "my_mobile_app",
      "redirect_uri": "smartapp://callback",
      "logo_uri": "{{app_server_base}}/images/apps/mobile.png"
    }, {
      "client_name": "FHIR Starter",
      "client_id": "fhir_starter",
      "redirect_uri": "",
      "logo_uri": "{{app_server_base}}/images/apps/fhir.png"
    }

  ]
