[Unit]
Description=HSPC apps Server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/apps/static

ExecStart=/usr/bin/http-server -p {{apps_server_internal_port}}
Restart=always

[Install]
WantedBy=multi-user.target

{{hosting_user_home}}/apps/static/apps