server {
{% if app_server_external_host %}
    server_name {{app_server_external_host}};
{% endif %}

    listen {{app_server_external_port}};

    location / {
       root {{hosting_user_home}}/apps/static;
       expires 1h;
       add_header Cache-Control "public";
    }

{% if use_secure_http %}
    ssl on;
    ssl_certificate /etc/nginx/ssl/{{certificate_crt_filename}};
    ssl_certificate_key /etc/nginx/ssl/{{certificate_key_filename}};
{% endif %}
}

{% if app_server_external_port != 80 and http_redirect %}
server {
    server_name {{app_server_external_host}};
    listen 80;
    listen [::]:80;
    return 301 https://$server_name$request_uri;
}
{% endif %}
