[Unit]
Description=Authorization Service

[Service]
User={{username}}
TimeoutStartSec=infinity
WorkingDirectory={{install_dir}}/hspc/reference-auth-server-ldap-webapp/target
{% if use_secure_http and not use_custom_ssl_certificates %}
ExecStart=/usr/bin/java \
 -Xms{{auth_server_initial_memory}} \
 -Xmx{{auth_server_max_memory}} \
 -Dspring.profiles.active=production \
 -Djetty.port={{persona_auth_server_internal_port}} \
 -Djetty.host={{persona_auth_server_internal_host}} \
 -Doidc.issuer={{persona_auth_server_url}} \
 -Dhspc.platform.persona.oauthUserLoginEndpointURL={{persona_auth_server_url}}j_spring_security_check \
 -Dmock.endpoints.enabled={{persona_auth_server_enable_mock_endpoints}} \
 -DCONTEXT_FHIR_ENDPOINT={{persona_api_dstu2_server_smart_sandbox_fhir_root_url}} \
 -DCONTEXT_RESOLVE_ENDPOINT={{app_server_base}}/apps/patient-picker \
 -Doidc.datasource.mysql.url=jdbc:mysql://{{mysql_endpoint}}/{{auth_server_database}} \
 -Doidc.datasource.mysql.username={{mysql_user}} \
 -Doidc.datasource.mysql.password={{mysql_pass}} \
 -Dldap.url={{apacheds_server_url}} \
 -Dldap.server={{apacheds_server_url}}/{{apacheds_server_base}} \
 -Dldap.base={{apacheds_server_base}} \
 -Dldap.userDn={{apacheds_server_system_admin_dn}} \
 -Dldap.password={{apacheds_server_system_admin_password}} \
 -DnewUserUrl={{persona_auth_server_newUserUrl}} \
 -DforgotPasswordUrl={{persona_auth_server_forgotPasswordUrl}} \
 -Djavax.net.ssl.trustStore={{install_dir}}/keystore \
 -Djavax.net.ssl.trustStorePassword={{keystore_password}} \
 -jar {{install_dir}}/jetty-runner.jar \
 --config {{install_dir}}/jetty.xml \
 --path {{persona_auth_server_context}} \
 hspc-reference-authorization.war
{% else %}
ExecStart=/usr/bin/java \
 -Xms{{auth_server_initial_memory}} \
 -Xmx{{auth_server_max_memory}} \
 -Dspring.profiles.active=production \
 -Djetty.port={{persona_auth_server_internal_port}} \
 -Djetty.host={{persona_auth_server_internal_host}} \
 -Doidc.issuer={{persona_auth_server_url}} \
 -Dhspc.platform.persona.oauthUserLoginEndpointURL={{persona_auth_server_url}}j_spring_security_check \
 -Dmock.endpoints.enabled={{persona_auth_server_enable_mock_endpoints}} \
 -DCONTEXT_FHIR_ENDPOINT={{persona_api_dstu2_server_smart_sandbox_fhir_root_url}} \
 -DCONTEXT_RESOLVE_ENDPOINT={{app_server_base}}/apps/patient-picker \
 -Doidc.datasource.mysql.url=jdbc:mysql://{{mysql_endpoint}}/{{auth_server_database}} \
 -Doidc.datasource.mysql.username={{mysql_user}} \
 -Doidc.datasource.mysql.password={{mysql_pass}} \
 -Dldap.url={{apacheds_server_url}} \
 -Dldap.server={{apacheds_server_url}}/{{apacheds_server_base}} \
 -Dldap.base={{apacheds_server_base}} \
 -Dldap.userDn={{apacheds_server_system_admin_dn}} \
 -Dldap.password={{apacheds_server_system_admin_password}} \
 -DnewUserUrl={{persona_auth_server_newUserUrl}} \
 -DforgotPasswordUrl={{persona_auth_server_forgotPasswordUrl}} \
 -jar {{install_dir}}/jetty-runner.jar \
 --config {{install_dir}}/jetty.xml \
 --path {{persona_auth_server_context}} \
 hspc-reference-authorization.war
{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
