SET AUTOCOMMIT = 0;

START TRANSACTION;

INSERT INTO client_details (id, client_id, client_secret, client_name, dynamically_registered, refresh_token_validity_seconds, access_token_validity_seconds, id_token_validity_seconds, allow_introspection, token_endpoint_auth_method, subject_type, logo_uri) VALUES
    (1, '{{auth_server_client}}', '{{auth_server_password}}', 'Test Client', false, null, 3600, 600, true, null, null, null),
    (2, 'fhir_starter', NULL, 'FHIR Starter', false, null, 3600, 600, true, "NONE", "PUBLIC", "{{app_server_external_url}}/images/apps/fhir.png"),
    (3, 'my_web_app', NULL, 'My Web App', false, null, 3600, 600, true, "NONE", "PUBLIC", "{{app_server_external_url}}/images/apps/my.png"),
    (4, 'bp_centiles', NULL, 'BP Centiles', false, null, 3600, 600, true, "NONE", "PUBLIC", "https://content.hspconsortium.org/images/bp-centiles/bpc2.png"),
    (5, 'cardiac_risk', NULL, 'Cardiac Risk', false, null, 3600, 600, true, "NONE", "PUBLIC", "https://content.hspconsortium.org/images/cardiac-risk/cardiac-risk.png"),
    (6, 'growth_chart', NULL, 'Growth Chart', false, null, 3600, 600, true, "NONE", "PUBLIC", "https://content.hspconsortium.org/images/growth-chart/growth-chart.png"),
    (7, 'fhir_demo', NULL, 'FHIR Demo App', false, null, 3600, 600, true, "NONE", "PUBLIC", "{{app_server_external_url}}/images/apps/demo.png");

INSERT INTO client_scope (owner_id, scope) VALUES
    (1, 'openid'),
    (1, 'profile'),
    (1, 'smart/orchestrate_launch'),
    (1, 'launch'),
    (1, 'launch/patient'),
    (1, 'launch/encounter'),
    (1, 'launch/resource'),
    (1, 'launch/other'),
    (1, 'user/Patient.read'),
    (1, 'user/*.*'),
    (1, 'user/*.read'),
    (1, 'patient/*.*'),
    (1, 'patient/*.read'),
    (1, 'offline_access'),
    (2, 'openid'),
    (2, 'profile'),
    (2, 'smart/orchestrate_launch'),
    (2, 'launch'),
    (2, 'launch/patient'),
    (2, 'launch/encounter'),
    (2, 'launch/resource'),
    (2, 'launch/other'),
    (2, 'user/Patient.read'),
    (2, 'user/*.*'),
    (2, 'user/*.read'),
    (2, 'patient/*.*'),
    (2, 'patient/*.read'),
    (2, 'offline_access'),
    (3, 'openid'),
    (3, 'profile'),
    (3, 'smart/orchestrate_launch'),
    (3, 'launch'),
    (3, 'launch/patient'),
    (3, 'launch/encounter'),
    (3, 'launch/resource'),
    (3, 'launch/other'),
    (3, 'user/Patient.read'),
    (3, 'user/*.*'),
    (3, 'user/*.read'),
    (3, 'patient/*.*'),
    (3, 'patient/*.read'),
    (3, 'offline_access'),
    (4, 'openid'),
    (4, 'profile'),
    (4, 'smart/orchestrate_launch'),
    (4, 'launch'),
    (4, 'launch/patient'),
    (4, 'launch/encounter'),
    (4, 'launch/resource'),
    (4, 'launch/other'),
    (4, 'user/Patient.read'),
    (4, 'user/*.*'),
    (4, 'user/*.read'),
    (4, 'patient/*.*'),
    (4, 'patient/*.read'),
    (4, 'offline_access'),
    (5, 'openid'),
    (5, 'profile'),
    (5, 'smart/orchestrate_launch'),
    (5, 'launch'),
    (5, 'launch/patient'),
    (5, 'launch/encounter'),
    (5, 'launch/resource'),
    (5, 'launch/other'),
    (5, 'user/Patient.read'),
    (5, 'user/*.*'),
    (5, 'user/*.read'),
    (5, 'patient/*.*'),
    (5, 'patient/*.read'),
    (6, 'offline_access'),
    (6, 'openid'),
    (6, 'profile'),
    (6, 'smart/orchestrate_launch'),
    (6, 'launch'),
    (6, 'launch/patient'),
    (6, 'launch/encounter'),
    (6, 'launch/resource'),
    (6, 'launch/other'),
    (6, 'user/Patient.read'),
    (6, 'user/*.*'),
    (6, 'user/*.read'),
    (6, 'patient/*.*'),
    (6, 'patient/*.read'),
    (6, 'offline_access'),
    (7, 'openid'),
    (7, 'profile'),
    (7, 'smart/orchestrate_launch'),
    (7, 'launch'),
    (7, 'launch/patient'),
    (7, 'launch/encounter'),
    (7, 'launch/resource'),
    (7, 'launch/other'),
    (7, 'user/Patient.read'),
    (7, 'user/*.*'),
    (7, 'user/*.read'),
    (7, 'patient/*.*'),
    (7, 'patient/*.read'),
    (7, 'offline_access');

INSERT INTO client_redirect_uri (owner_id, redirect_uri) VALUES
    (1, 'http://localhost/'),
    (1, 'http://localhost:8060/'),
    (2, '{{app_server_external_url}}/'),
    (3, 'http://localhost:8000/fhir-app/'),
    (4, '{{app_server_external_url}}/apps/bp-centiles/'),
    (5, '{{app_server_external_url}}/apps/cardiac-risk/'),
    (6, '{{app_server_external_url}}/apps/growth-chart/'),
    (7, '{{app_server_external_url}}/apps/fhir-demo/app/');

INSERT INTO client_grant_type (owner_id, grant_type) VALUES
    (1, 'authorization_code'),
    (1, 'urn:ietf:params:oauth:grant_type:redelegate'),
    (1, 'implicit'),
    (1, 'refresh_token'),
    (2, 'implicit'),
    (2, 'refresh_token'),
    (2, 'authorization_code'),
    (3, 'implicit'),
    (3, 'refresh_token'),
    (3, 'authorization_code'),
    (4, 'implicit'),
    (4, 'refresh_token'),
    (4, 'authorization_code'),
    (5, 'implicit'),
    (5, 'refresh_token'),
    (5, 'authorization_code'),
    (6, 'implicit'),
    (6, 'refresh_token'),
    (6, 'authorization_code'),
    (7, 'implicit'),
    (7, 'refresh_token'),
    (7, 'authorization_code');

COMMIT;

SET AUTOCOMMIT = 1;
