<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>org.smarthealtit</groupId>
    <artifactId>hspc-reference-auth-server-ldap-webapp</artifactId>
    <version>1.0-SNAPSHOT</version>
    <packaging>war</packaging>

    <name>Reference Auth - LDAP</name>
    <description>HSPC Reference Auth LDAP Authorization Server</description>
    <url>https://healthservices.atlassian.net/wiki/display/HSPC/Healthcare+Services+Platform+Consortium</url>

    <properties>
        <artifact.name>hspc-reference-authorization</artifact.name>
        <java.version>1.8</java.version>
        <reference-auth-security.version>{{auth_server_webapp_info.version}}</reference-auth-security.version>
        <reference-auth-webapp.version>{{auth_server_webapp_info.version}}</reference-auth-webapp.version>
        <mitreid.version>1.2.0</mitreid.version>
        <mitreid.springframework.security.oauth.version>2.0.3.RELEASE</mitreid.springframework.security.oauth.version>
        <mitreid.springframework.security.version>3.2.7.RELEASE</mitreid.springframework.security.version>
        <mitreid.springframework.version>4.1.7.RELEASE</mitreid.springframework.version>
        <javax.servlet.version>3.1.0</javax.servlet.version>
        <google.gson.version>2.3.1</google.gson.version>
        <commons-logging.version>1.1.3</commons-logging.version>
        <commons-lang.version>2.6</commons-lang.version>
        <slf4j.version>1.7.7</slf4j.version>
    </properties>

    <repositories>
        <repository>
            <id>ossrh</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </repository>
    </repositories>

    <dependencyManagement>
        <dependencies>
            <dependency>
                <artifactId>spring-web</artifactId>
                <groupId>org.springframework</groupId>
                <version>${mitreid.springframework.version}</version>
            </dependency>
            <dependency>
                <artifactId>spring-webmvc</artifactId>
                <groupId>org.springframework</groupId>
                <version>${mitreid.springframework.version}</version>
            </dependency>
            <dependency>
                <artifactId>spring-jdbc</artifactId>
                <groupId>org.springframework</groupId>
                <version>${mitreid.springframework.version}</version>
            </dependency>
            <dependency>
                <artifactId>spring-tx</artifactId>
                <groupId>org.springframework</groupId>
                <version>${mitreid.springframework.version}</version>
            </dependency>
            <dependency>
                <artifactId>spring-security-oauth2</artifactId>
                <groupId>org.springframework.security.oauth</groupId>
                <version>${mitreid.springframework.security.oauth.version}</version>
            </dependency>
            <dependency>
                <artifactId>slf4j-api</artifactId>
                <groupId>org.slf4j</groupId>
                <version>${slf4j.version}</version>
            </dependency>
            <dependency>
                <artifactId>spring-security-config</artifactId>
                <groupId>org.springframework.security</groupId>
                <version>${mitreid.springframework.security.version}</version>
            </dependency>
            <dependency>
                <artifactId>spring-security-web</artifactId>
                <groupId>org.springframework.security</groupId>
                <version>${mitreid.springframework.security.version}</version>
            </dependency>
            <dependency>
                <groupId>org.springframework</groupId>
                <artifactId>spring-expression</artifactId>
                <version>${mitreid.springframework.version}</version>
            </dependency>
            <dependency>
                <groupId>org.springframework.security</groupId>
                <artifactId>spring-security-core</artifactId>
                <version>${mitreid.springframework.security.version}</version>
            </dependency>
            <dependency>
                <groupId>org.springframework.security</groupId>
                <artifactId>spring-security-ldap</artifactId>
                <version>${mitreid.springframework.security.version}</version>
            </dependency>
            <dependency>
                <groupId>org.springframework</groupId>
                <artifactId>spring-context</artifactId>
                <version>${mitreid.springframework.version}</version>
            </dependency>
            <dependency>
                <groupId>commons-logging</groupId>
                <artifactId>commons-logging</artifactId>
                <version>${commons-logging.version}</version>
            </dependency>
        </dependencies>
    </dependencyManagement>

    <dependencies>
        <dependency>
            <groupId>{{auth_server_webapp_info.group_id}}</groupId>
            <artifactId>{{auth_server_webapp_info.artifact_id}}</artifactId>
            <type>{{auth_server_webapp_info.packaging}}</type>
            <version>${reference-auth-webapp.version}</version>
        </dependency>
        <dependency>
            <groupId>org.mitre</groupId>
            <artifactId>openid-connect-common</artifactId>
            <version>${mitreid.version}</version>
        </dependency>
        <dependency>
            <groupId>org.hspconsortium.reference</groupId>
            <artifactId>hspc-reference-auth-security</artifactId>
            <version>${reference-auth-security.version}</version>
        </dependency>
        <dependency>
            <groupId>org.springframework</groupId>
            <artifactId>spring-web</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework</groupId>
            <artifactId>spring-expression</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-core</artifactId>
            <exclusions>
                <exclusion>
                    <groupId>org.springframework</groupId>
                    <artifactId>*</artifactId>
                </exclusion>
                <exclusion>
                    <artifactId>spring-expression</artifactId>
                    <groupId>org.springframework</groupId>
                </exclusion>
            </exclusions>
        </dependency>
        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-ldap</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.security.oauth</groupId>
            <artifactId>spring-security-oauth2</artifactId>
            <scope>provided
            </scope>  <!-- we need to use the version that is overlayed from the base MitreId war, which is a milestone build not available in any central repo -->
            <exclusions>
                <exclusion>
                    <groupId>commons-codec</groupId>
                    <artifactId>commons-codec</artifactId>
                </exclusion>
                <exclusion>
                    <groupId>org.springframework</groupId>
                    <artifactId>spring-jdbc</artifactId>
                </exclusion>
                <exclusion>
                    <groupId>org.springframework</groupId>
                    <artifactId>spring-webmvc</artifactId>
                </exclusion>
                <exclusion>
                    <groupId>org.springframework.security</groupId>
                    <artifactId>*</artifactId>
                </exclusion>
                <exclusion>
                    <groupId>org.springframework</groupId>
                    <artifactId>spring-expression</artifactId>
                </exclusion>
                <exclusion>
                    <groupId>org.springframework</groupId>
                    <artifactId>spring-webmvc</artifactId>
                </exclusion>
            </exclusions>
        </dependency>
        <dependency>
            <groupId>com.google.code.gson</groupId>
            <artifactId>gson</artifactId>
            <version>${google.gson.version}</version>
            <scope>provided</scope>
        </dependency>
        <dependency>
            <groupId>javax.servlet</groupId>
            <artifactId>javax.servlet-api</artifactId>
            <version>${javax.servlet.version}</version>
            <scope>provided</scope>
        </dependency>
        <dependency>
            <groupId>commons-lang</groupId>
            <artifactId>commons-lang</artifactId>
            <version>${commons-lang.version}</version>
        </dependency>
        <dependency>
            <groupId>org.springframework</groupId>
            <artifactId>spring-jdbc</artifactId>
        </dependency>
    </dependencies>

    <build>
        <finalName>${artifact.name}</finalName>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-war-plugin</artifactId>
                    <version>2.5</version>
                </plugin>
            </plugins>
        </pluginManagement>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-war-plugin</artifactId>
                <configuration>
                    <overlays>
                        <overlay>
                            <groupId>{{auth_server_webapp_info.group_id}}</groupId>
                            <artifactId>{{auth_server_webapp_info.artifact_id}}</artifactId>
                        </overlay>
                    </overlays>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <configuration>
                    <source>${java.version}</source>
                    <target>${java.version}</target>
                </configuration>
            </plugin>
        </plugins>
    </build>

</project>