[Unit]
Description=PWM Service

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre
Environment=CATALINA_HOME={{tomcat_home}}
Environment=CATALINA_BASE={{tomcat_home}}
Environment=CATALINA_PID={{tomcat_home}}/temp/tomcat.pid
Environment='CATALINA_OPTS=-Xms256M -Xmx512M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart={{tomcat_home}}/bin/startup.sh
ExecStop={{tomcat_home}}/bin/shutdown.sh

User=fhir
Group=fhir
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target