[Unit]
Description=hspc mock api stu3 server

[Service]
User={{hosting_username}}
TimeoutStartSec=infinity
WorkingDirectory={{hosting_user_home}}/mock_api_stu3

ExecStart={{java_home}}/bin/java \
 -Xms{{mock_api_stu3_server_initial_memory}} \
 -Xmx{{mock_api_stu3_server_max_memory}} \
 -Dserver.port={{mock_api_stu3_server_internal_port}} \
 -Dhspc.platform.api.fhir.db.host={{api_mysql_host}} \
 -Dhspc.platform.api.fhir.db.username={{api_mysql_username}} \
 -Dhspc.platform.api.fhir.db.password={{api_mysql_password}} \
 -Dhspc.platform.api.sandbox.name={{api_stu3_server_sandbox}} \
 -Dhspc.platform.api.sandbox.useHspcStarterData=false \
 -Dhspc.platform.authorization.url={{mock_auth_server_external_url}} \
 -Dhspc.platform.messaging.url={{messaging_server_external_url}} \
 -Dhspc.platform.api.security.mode=mock \
 -Dspring.profiles.active=stu3,multitenant \
 -Dhibernate.search.default.indexBase=lucenefiles \
{% if use_secure_http and not use_custom_ssl_certificates %}
 -Djavax.net.ssl.trustStore="{{hosting_user_home}}/keystore" \
 -Djavax.net.ssl.trustStorePassword="{{keystore_password}}" \
{% endif %}
 -jar {{hosting_user_home}}/api/{{api_server_artifact_artifact_id}}-{{api_server_artifact_version}}.{{api_server_artifact_packaging}}
Restart=always

[Install]
WantedBy=multi-user.target
